*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  min-height:100vh;
  background: linear-gradient(
    135deg,
    #4f46e5,
    #06b6d4,
    #14b8a6
  );
}

.container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.auth-card{
  width:100%;
  max-width:450px;
  background:rgba(255,255,255,0.12);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.2);
  border-radius:24px;
  padding:40px;
  box-shadow:
  0 8px 32px rgba(0,0,0,0.15);
}

.auth-card h1{
  text-align:center;
  color:white;
  margin-bottom:30px;
  font-size:2rem;
  font-weight:700;
}

.auth-card form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.auth-card form div{
  display:flex;
  flex-direction:column;
}

.auth-card label{
  color:white;
  margin-bottom:8px;
  font-size:14px;
  font-weight:500;
}

.auth-card input{
  padding:14px 16px;
  border:none;
  outline:none;
  border-radius:12px;
  background:rgba(255,255,255,0.15);
  color:white;
  font-size:15px;
  border:1px solid rgba(255,255,255,0.2);
  transition:.3s;
}

.auth-card input::placeholder{
  color:rgba(255,255,255,0.8);
}

.auth-card input:focus{
  border-color:white;
  background:rgba(255,255,255,0.2);
}

button{
  margin-top:7px;
  padding:14px;
  border:none;
  border-radius:12px;
  background:white;
  color:#4f46e5;
  font-size:16px;
  font-weight:700;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.auth-card span{
  text-align:center;
  color:white;
  margin-top:10px;
}

.auth-card a{
  color:#fff;
  font-weight:600;
  text-decoration:none;
  margin-left:6px;
}

.auth-card a:hover{
  text-decoration:underline;
}

.home-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  padding:20px;
}

.homeh1{
  text-align:center;
  color:white;
  margin-bottom:10px;
  font-size:2rem;
  font-weight:700;
}
